<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./fonts/fonts.css">
</head>
<body>
    <div class="contentBlockSecond">
        <div class="whiteHeader2 desktop">
            <div class="whiteText2">
                <span><a href="./index.html" class="link">Обо мне</a></span>
                <span id="bold">Мои услуги</span>
                <span><a href="./index3.html" class="link">Обучение астрологии</a></span>
                <span><a href="./index4.html" class="link">Марафоны</a></span>
            </div>
        </div>
        
        <!-- mobile one -->
        <div class="whiteHeader2 mobile" id="menu">
            <div id="menu-bar" onclick="menuOnClick()">
              <div id="bar1" class="bar"></div>
              <div id="bar2" class="bar"></div>
              <div id="bar3" class="bar"></div>
            </div>
            
            <nav class="nav" id="nav">
              <ul>
                <li><a href="./index.html">Обо мне</a></li>
                <li><a href="./index2.html">Мои услуги</a></li>
                <li><a href="./index3.html">Обучение астрологии</a></li>
                <li><a href="./index4.html">Марафоны</a></li>
              </ul>
            </nav> 
        </div>

        <img id="logo" class="desktop" src="./img/IMG_20210216_153035 1.png" alt="logo">
        <img id="logo" class="mob" src="./img/IMG_20210216_153035 1.png" alt="logo">
        <div class="purpleBox">
            <h1>Перечень моих услуг</h1>
            <div class="listParts">
                <!-- <div class="listPart"> -->
                    <div class="listBox">
                        <span>Краткий разбор натальной карты</span>
                        <p>Стоимость: 5990 р.</p>
                        <a href="./index6.html"><button>Заказать</button></a>
                        <div class="line">
                            <a class="lineP" href="./index7.html"><p>Подробности</p></a>
                        </div>
                    </div>

                    <div class="listBox">
                        <span>Совместимость</span>
                        <p>Стоимость: 6500 р.</p>
                        <a href="./index6.html"><button>Заказать</button></a>
                        <div class="line">
                            <a class="lineP" href="./index7.html"><p>Подробности</p></a>
                        </div>
                    </div>               
    
                    <div class="listBox">
                        <span>Личная жизнь: </span>
                        <p>Стоимость: 6500 р</p>
                        <a href="./index6.html"><button>Заказать</button></a>
                        <div class="line">
                            <a class="lineP" href="./index7.html"><p>Подробности</p></a>
                        </div>
                    </div>  
                <!-- </div>      -->

                <!-- <div class="listPart"> -->
                    <div class="listBox">
                        <span>Беременность</span>
                        <p>Стоимость: 5900 р.</p>
                        <a href="./index6.html"><button>Заказать</button></a>
                        <div class="line">
                            <a class="lineP" href="./index7.html"><p>Подробности</p></a>
                        </div>
                    </div>            

                    <div class="listBox">
                        <span>Детский гороскоп</span>
                        <p>Стоимость: 7900 р.</p>
                        <a href="./index6.html"><button>Заказать</button></a>
                        <div class="line">
                            <a class="lineP" href="./index7.html"><p>Подробности</p></a>
                        </div>
                    </div>              

                    <div class="listBox">
                        <span>Здоровье и риски</span>
                        <p>Стоимость: 5990 р.</p>
                        <a href="./index6.html"><button>Заказать</button></a>
                        <div class="line">
                            <a class="lineP" href="./index7.html"><p>Подробности</p></a>
                        </div>
                    </div>  
                <!-- </div>              -->

                <!-- <div class="listPart"> -->
                    <div class="listBox">
                        <span>Прогноз на год</span>
                        <p>Стоимость: 6900 р.</p>
                        <a href="./index6.html"><button>Заказать</button></a>
                        <div class="line">
                            <a class="lineP" href="./index7.html"><p>Подробности</p></a>
                        </div>
                    </div>            
 
                    <div class="listBox">
                        <span>Подбор благоприятной даты</span>
                        <p>Стоимость: от 3000 р.</p>
                        <a href="./index6.html"><button>Заказать</button></a>
                        <div class="line">
                            <a class="lineP" href="./index7.html"><p>Подробности</p></a>
                        </div>
                    </div>                
 
                    <div class="listBox">
                        <span>Самореализация и финансы</span>
                        <p>Стоимость: 6900 р.</p>
                        <a href="./index6.html"><button>Заказать</button></a>
                        <div class="line">
                            <a class="lineP" href="./index7.html"><p>Подробности</p></a>
                        </div>
                    </div>
                <!-- </div> -->

                <!-- <div class="listPart"> -->
                    <div class="listBox">
                        <span>Базовый план действий</span>
                        <p>Стоимость: 5900 р.</p>
                        <a href="./index6.html"><button>Заказать</button></a>
                        <div class="line">
                            <a class="lineP" href="./index7.html"><p>Подробности</p></a>
                        </div>
                    </div> 

                    <div class="listBox">
                        <span>Экспресс консультация</span>
                        <p>Стоимость: 1590 р.</p>
                        <a href="./index6.html"><button>Заказать</button></a>
                        <div class="line">
                            <a class="lineP" href="./index7.html"><p>Подробности</p></a>
                        </div>
                    </div> 

                    <div class="listBox">
                        <span>Полная натальная карта</span>
                        <p>Стоимость: 19500 р.</p>
                        <a href="./index6.html"><button>Заказать</button></a>
                        <div class="line">
                            <a class="lineP" href="./index7.html"><p>Подробности</p></a>
                        </div>
                    </div> 
                <!-- </div> -->

                <!-- <div class="listPart"> -->
                    <div class="listBox">
                        <span>Установка точного времени рождения (ректификация)</span>
                        <p>Стоимость: 2500 р.</p>
                        <a href="./index6.html"><button>Заказать</button></a>
                        <div class="line">
                            <a class="lineP" href="./index7.html"><p>Подробности</p></a>
                        </div>
                    </div> 
                    <div class="listBox">
                        <span id="big">Подарочный сертификат 
                            на консультацию</span>
                        <p>Стоимость: зависит от вашего выбора</p>
                        <a href="./index6.html"><button>Заказать</button></a>
                        <div class="line">
                            <a class="lineP" href="./index7.html"><p>Подробности</p></a>
                        </div>
                    </div> 
                <!-- </div> -->
            </div>
        </div>
        <div class="contentBlockQ">
            <h1>Мне часто задают эти вопросы:</h1>
                <div class="kia">
                    <div class="questionBox">
                        <div class="question">
                            <span>Что делать если я не знаю точного времени рождения?</span>
                            <img src="./img/plus.svg" alt="+">
                        </div>
                        <div class="answer">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolores recusandae ad illum quod tempora vitae impedit excepturi, modi laborum sunt voluptas incidunt ullam eligendi quis. Ipsam vel numquam laboriosam.
                            Reiciendis odio nobis dicta aspernatur! Aut corrupti ullam officia maxime enim soluta, est, nemo mollitia id quas sequi aperiam officiis minima quaerat dolore! Ad inventore dignissimos ullam quisquam iusto. Sunt.
                            Natus quis dicta provident quia obcaecati dolore, corrupti laboriosam magnam soluta nemo repellat error omnis, ea sed saepe amet fugit! Explicabo incidunt labore amet dignissimos nisi pariatur, iusto impedit eos?
                            Similique fugit quibusdam labore, numquam consequatur dignissimos exercitationem ipsum vitae voluptatibus magnam illo laudantium, cupiditate, deserunt tempora! Delectus amet atque placeat non natus! Mollitia repudiandae eligendi enim vitae quam? Quasi.
                            Pariatur ratione maxime magni molestiae placeat ex repellat voluptates praesentium ipsum quas cupiditate, id reprehenderit asperiores saepe repellendus ipsa esse vitae dolores, sapiente, quod in soluta. Facere magnam neque eum.</span>
                        </div>
                    </div>
                    <div class="questionBox">
                        <div class="question">
                            <span>Как долго ждать заказ?</span>
                            <img src="./img/plus.svg" alt="+">
                        </div>
                        <div class="answer">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolores recusandae ad illum quod tempora vitae impedit excepturi, modi laborum sunt voluptas incidunt ullam eligendi quis. Ipsam vel numquam laboriosam.
                            Reiciendis odio nobis dicta aspernatur! Aut corrupti ullam officia maxime enim soluta, est, nemo mollitia id quas sequi aperiam officiis minima quaerat dolore! Ad inventore dignissimos ullam quisquam iusto. Sunt.
                            Natus quis dicta provident quia obcaecati dolore, corrupti laboriosam magnam soluta nemo repellat error omnis, ea sed saepe amet fugit! Explicabo incidunt labore amet dignissimos nisi pariatur, iusto impedit eos?
                            Similique fugit quibusdam labore, numquam consequatur dignissimos exercitationem ipsum vitae voluptatibus magnam illo laudantium, cupiditate, deserunt tempora! Delectus amet atque placeat non natus! Mollitia repudiandae eligendi enim vitae quam? Quasi.
                            Pariatur ratione maxime magni molestiae placeat ex repellat voluptates praesentium ipsum quas cupiditate, id reprehenderit asperiores saepe repellendus ipsa esse vitae dolores, sapiente, quod in soluta. Facere magnam neque eum.</span>
                        </div>
                    </div>
                    <div class="questionBox">
                        <div class="question">
                            <span>Что я получу в результате?</span>
                            <img src="./img/plus.svg" alt="+">
                        </div>
                        <div class="answer">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolores recusandae ad illum quod tempora vitae impedit excepturi, modi laborum sunt voluptas incidunt ullam eligendi quis. Ipsam vel numquam laboriosam.
                            Reiciendis odio nobis dicta aspernatur! Aut corrupti ullam officia maxime enim soluta, est, nemo mollitia id quas sequi aperiam officiis minima quaerat dolore! Ad inventore dignissimos ullam quisquam iusto. Sunt.
                            Natus quis dicta provident quia obcaecati dolore, corrupti laboriosam magnam soluta nemo repellat error omnis, ea sed saepe amet fugit! Explicabo incidunt labore amet dignissimos nisi pariatur, iusto impedit eos?
                            Similique fugit quibusdam labore, numquam consequatur dignissimos exercitationem ipsum vitae voluptatibus magnam illo laudantium, cupiditate, deserunt tempora! Delectus amet atque placeat non natus! Mollitia repudiandae eligendi enim vitae quam? Quasi.
                            Pariatur ratione maxime magni molestiae placeat ex repellat voluptates praesentium ipsum quas cupiditate, id reprehenderit asperiores saepe repellendus ipsa esse vitae dolores, sapiente, quod in soluta. Facere magnam neque eum.</span>
                        </div>
                    </div>
                    <div class="questionBox">
                        <div class="question">
                            <span>Какие данные нужны для заказа?</span>
                            <img src="./img/plus.svg" alt="+">
                        </div>
                        <div class="answer">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolores recusandae ad illum quod tempora vitae impedit excepturi, modi laborum sunt voluptas incidunt ullam eligendi quis. Ipsam vel numquam laboriosam.
                            Reiciendis odio nobis dicta aspernatur! Aut corrupti ullam officia maxime enim soluta, est, nemo mollitia id quas sequi aperiam officiis minima quaerat dolore! Ad inventore dignissimos ullam quisquam iusto. Sunt.
                            Natus quis dicta provident quia obcaecati dolore, corrupti laboriosam magnam soluta nemo repellat error omnis, ea sed saepe amet fugit! Explicabo incidunt labore amet dignissimos nisi pariatur, iusto impedit eos?
                            Similique fugit quibusdam labore, numquam consequatur dignissimos exercitationem ipsum vitae voluptatibus magnam illo laudantium, cupiditate, deserunt tempora! Delectus amet atque placeat non natus! Mollitia repudiandae eligendi enim vitae quam? Quasi.
                            Pariatur ratione maxime magni molestiae placeat ex repellat voluptates praesentium ipsum quas cupiditate, id reprehenderit asperiores saepe repellendus ipsa esse vitae dolores, sapiente, quod in soluta. Facere magnam neque eum.</span>
                        </div>
                    </div>
                    <div class="questionBox">
                        <div class="question">
                            <span>Как можно оплатить?</span>
                            <img src="./img/plus.svg" alt="+">
                        </div>
                        <div class="answer">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolores recusandae ad illum quod tempora vitae impedit excepturi, modi laborum sunt voluptas incidunt ullam eligendi quis. Ipsam vel numquam laboriosam.
                            Reiciendis odio nobis dicta aspernatur! Aut corrupti ullam officia maxime enim soluta, est, nemo mollitia id quas sequi aperiam officiis minima quaerat dolore! Ad inventore dignissimos ullam quisquam iusto. Sunt.
                            Natus quis dicta provident quia obcaecati dolore, corrupti laboriosam magnam soluta nemo repellat error omnis, ea sed saepe amet fugit! Explicabo incidunt labore amet dignissimos nisi pariatur, iusto impedit eos?
                            Similique fugit quibusdam labore, numquam consequatur dignissimos exercitationem ipsum vitae voluptatibus magnam illo laudantium, cupiditate, deserunt tempora! Delectus amet atque placeat non natus! Mollitia repudiandae eligendi enim vitae quam? Quasi.
                            Pariatur ratione maxime magni molestiae placeat ex repellat voluptates praesentium ipsum quas cupiditate, id reprehenderit asperiores saepe repellendus ipsa esse vitae dolores, sapiente, quod in soluta. Facere magnam neque eum.</span>
                        </div>
                    </div>
                </div>
            <div class="boxButtons">
                <div class="boxButton">
                    <a href="./index6.html"><button>Записаться на консультацию</button></a>
                </div>
                <div id="desc" class="boxButton">
                    <a href="./index6.html"><button>Посмотреть отзывы</button></a>
                </div>
                <div id="mobile" class="boxButton">
                    <a href="./index6.html"><p>Посмотреть отзывы</p></a>
                </div>
            </div>
        </div>
        <div class="contentBlockB">
            <div class="bBlock">
                <a href="./index3.html" class="link">
                    <button class="buttonPart">
                        <div class="buttonText">
                            <p>Обучение астрологии с нуля</p>
                        </div>
                        <div class="buttonSym"> 
                            <p>&#10230</p>
                        </div>
                    </button>
                </a>
                <a href="./index4.html" class="link">
                    <button class="buttonPart">
                        <div class="buttonText">
                            <p>Марафоны для вас</p>
                        </div>
                        <div class="buttonSym">
                            <p>&#10230</p>
                        </div>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <footer id="secfooter" class="f desktop">
        <div class="darkBlocks">
            <div class="darkBlock1">
                <a href="./index5.html"><p id="A">Анастасия Вячеславовна Шевченко</p></a>
                <div class="app">
                    <p><a href="./index5.html"><img src="./img/insta.png" alt=""></a></p>
                    <p><a href="./index5.html"><img src="./img/tg.png" alt=""></a></p>
                    <p><a href="./index5.html"><img src="./img/whole phone.png" alt=""></a></p>
                </div>
            </div>
            <div class="darkBlock2">
                <div class="darkText1">
                    <a href="./index5.html"><p>На главную</p></a>
                </div>
                <div class="darkText2">
                    <a href="./index5.html"><p>Design by @kemfetka</p></a>
                </div>
            </div>
            <div class="darkBlock3">
                <div class="darkText1">
                    <a href="./index5.html"><p>Политика конфиденциальности</p></a>
                </div>
                <div class="darkText2">
                    <a href="./index5.html"><p>Связаться со мной</p></a>
                </div>               
           </div>
        </div>
    </footer>
           
    <footer id="secFooter" class="f mobile">
        <div class="darkBlocksF">
            <div class="darkBlock1">
                <a href="./index.html"><p id="A">Анастасия Вячеславовна Шевченко</p></a>
                <div class="app">
                    <p><a href="./index5.html"><img src="./img/insta.png" alt=""></a></p>
                    <p><a href="./index5.html"><img src="./img/tg.png" alt=""></a></p>
                    <p><a href="./index5.html"><img src="./img/whole phone.png" alt=""></a></p>
                </div>
            </div>
            <div class="darkBlock2">
                <div id="F" class="darkText2">
                    <a href="./index7.html"><p>Политика конфиденциальности</p></a>
                </div>
            </div>
            <div class="fBlock">
            <div class="darkBlockF">
                <div class="darkTextF">
                    <a href="./index5.html"><p>Связаться со мной</p></a>
                </div>
                <div class="darkTextF">
                    <a href="./index3.html"><p>На главную</p></a>
                </div>               
            </div>
            <div class="darkBlock4">
                <div class="darkText1">
                    <a href="./index4.html"><p>Design by @kemfetka</p></a>
                </div>               
            </div>
            </div>
        </div>
    </footer>

    <script src="./JS/script.js"></script>
</body>
</html>