<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./fonts/fonts.css">
</head>
<body>
    <div class="whiteHeader5 desktop">
        <div class="whiteText5">
            <span><a href="./index.html" class="link">Обо мне</a></span>
            <span><a href="./index2.html" class="link">Мои услуги</a></span>
            <span><a href="./index3.html" class="link">Обучение астрологии</a></span>
            <span><a href="./index4.html" class="link">Марафоны</a></span>
        </div>
    </div>
    <!-- mobile one -->
    
    <div class="whiteHeader5 mobile">
        <div class="whiteText5">
            <span><a href="./index.html" class="link">Обо мне</a></span>
            <span><a href="./index2.html" class="link">Мои услуги</a></span>
            <span><a href="./index3.html" class="link">Обучение астрологии</a></span>
            <span><a href="./index4.html" class="link">Марафоны</a></span>
        </div>
    </div> 
    <div class="noData6">
        <div class="nData">
            <h1>это тоже</h1>
        </div>
        <div class="nData">       
            <h1>не знаю!</h1>
        </div>
    </div>
    <script src="./JS/script.js"></script>
</body>
</html>