<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./fonts/fonts.css">
</head>
<body>
    <div class="contentBlockFour">
        <div class="whiteHeader desktop">
            <div class="whiteText4">
                <span><a href="./index.html" class="link">Обо мне</a></span>
                <span><a href="./index2.html" class="link">Мои услуги</a></span>
                <span><a href="./index3.html" class="link">Обучение астрологии</a></span>
                <span class="bold4" id="bold">Марафоны</span>
            </div>
        </div>

                <!-- mobile one -->
                <div class="whiteHeader mobile" id="menu">
                    <div id="menu-bar" onclick="menuOnClick()">
                      <div id="bar1" class="bar"></div>
                      <div id="bar2" class="bar"></div>
                      <div id="bar3" class="bar"></div>
                    </div>
                    
                    <nav class="nav" id="nav">
                      <ul>
                        <li><a href="./index.html">Обо мне</a></li>
                        <li><a href="./index2.html">Мои услуги</a></li>
                        <li><a href="./index3.html">Обучение астрологии</a></li>
                        <li><a href="./index4.html">Марафоны</a></li>
                      </ul>
                    </nav> 
                </div>
                  
                <div class="menu-bg" id="menu-bg"></div>        
         
        <div class="pName">
            <h1>Что будет на марафонах?</h1>
        </div> 
        <div class="marathonInfo">
            <div class="marathonData">
                <div class="mSym">&mdash;</div>
                <div class="mText">Видео-уроки в записи с подробной информацией длительностью от 20 до 60 мин.</div>
            </div>
            <div class="marathonData">
                <div class="mSym">&mdash;</div>
                <div class="mText">Домашние задания для отработки навыков, контроль работы от меня и кураторов</div>
            </div>
            <div class="marathonData">
                <div class="mSym">&mdash;</div>
            <div class="mText">Изучение натальной карты под моим руководством и примените информацию</div>
            </div>
        </div>  
        <div class="marathonWhite">
            <div class="marathonTypes">
                <div class="marathonType1">
                    <h3>Прокачай свою карту рождения</h3>
                    <div  class="typeInfo">
                        <span>В процессе марафона вы научитесь строить натальную карту, ориентироваться в знаках, планетах и домах гороскопа. Узнаете, за что отвечает каждая планета в астрологии. Я расскажу вам как каждая планета проявляется с положительной стороны и с отрицательной в карте человека, каким образом влияет на психологическое состояние и события в жизни. Вы узнаете как именно реализовать потенциал вашей карты в плюс</span>
                    </div>
                    <div class="marathonPrice">
                        <span>Купить за 3990 рублей</span>  
                        <span>Посмотреть отзывы о марафоне</span>
                    </div>
                </div>
                <div class="marathonType2">
                    <h3>Трансформатор Рода</h3>
                <div class="typyInfos">
                    <div class="typeInfo">
                        <span>В процессе марафона вы проведёте анализ всей карты на внутренние конфликты, негативные установки, которые, как правило, не осознаются большинством людей, но именно они являются причинами наших сложностей ( не ладится личная жизнь, не могу найти себя, состояние апатии, опустошения, эффект самозванца в профессии, проблемы здоровья 
                        и многие др).</span>
                    </div>
                    <div class="typeInfo">
                        <span>Каждый участник составит для себя конкретный алгоритм действий по устранению этих проблем, опираясь на астрологической информацию и мой опыт - и начнет действовать уже в процессе марафона с поддержкой единомышленников!</span>
                    </div>
                    <div class="marathonPrice">
                        <span>Купить за 3990 рублей</span>  
                        <span>Посмотреть отзывы о марафоне</span>
                    </div>
                </div>
                </div>
                <div class="marathonType3">
                    <h3>“Предназначение”</h3>
                <div class="typyInfos">
                    <div class="typeInfo">
                        <span>В процессе марафона вы построите свою натальную карту, научитесь ориентироваться в ней.Я расскажу вам о важнейших жизненных этапах с точки зрения астрологии и о том, какие проблемы они таят для человека, а главное, как проходить их максимально мягко. Также вы поймете суть своего жизненного предназначения с конкретным списком действий, без абстракции “</span>
                    </div>
                    <div class="typeInfo">
                        <span>Я должна стать великой”. Узнаете в каких именно сферах жизни стоит ожидать проблем, если вы не выполняете свои жизненные задачи. Узнаете периоды, в которые будут возникать конкретные проблемы, если не выполнять своего предназначения</span>
                    </div>
                </div>
                <div class="marathonPrice">
                    <span>Купить за 3990 рублей</span>  
                    <span>Посмотреть отзывы о марафоне</span>
                </div>
                </div>
            </div>
            <div class="speakerPhotos">
                <div class="speakerPhoto1">
                    <img src="./img/firstFourImg.png" alt="">
                </div>
                <div class="speakerPhoto2">
                    <img src="./img/secondFourImg.png" alt="">
                </div>
            </div>
        </div>
        <div class="fourthBlock">
            <a href="./index2.html" class="link">
                <button class="buttonPart4">
                    <div class="buttonText4">
                        <p>Перечень моих услуг</p>
                    </div>
                    <div class="buttonSym4">
                        <p>&#10230;</p>
                    </div>
                </button>
            </a>
            <a href="./index3.html" class="link">
                <button class="buttonPart4">
                    <div class="buttonText4">
                        <p>Обучение астрологии с нуля</p>
                    </div>
                    <div class="buttonSym4">
                        <p>&#10230;</p>
                    </div>
                </button>
            </a>
        </div>
    </div>
    <footer id="secFooter" class="f desktop">
        <div class="darkBlocks">
            <div class="darkBlock1">
                <a href="./index.html"><p id="A">Анастасия Вячеславовна Шевченко</p></a>
                <div class="app">
                    <p><a href="./index5.html"><img src="./img/insta.png" alt=""></a></p>
                    <p><a href="./index5.html"><img src="./img/tg.png" alt=""></a></p>
                    <p><a href="./index5.html"><img src="./img/whole phone.png" alt=""></a></p>
                </div>
            </div>
            <div class="darkBlock2">
                <div class="darkText1">
                    <a href="./index3.html"><p>На главную</p></a>
                </div>
                <div class="darkText2">
                    <a href="./index4.html"><p>Design by @kemfetka</p></a>
                </div>
            </div>
            <div class="darkBlock3">
                <div class="darkText1">
                    <a href="./index7.html"><p>Политика конфиденциальности</p></a>
                </div>
                <div class="darkText2">
                    <a href="./index5.html"><p>Связаться со мной</p></a>
                </div>               
           </div>
        </div>
    </footer>
    <script src="./JS/script.js"></script>
</body>
</html>