<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./fonts/fonts.css">
    <link rel="stylesheet" href="./CSS/style.css">
</head>
<body>
    <div class="contentBlockThird">
        <div class="whitePart3">
            <div class="whiteHeader desktop">
                <div class="whiteText3">
                    <span><a href="./index.html" class="link">Обо мне</a></span>
                    <span><a href="./index.html" class="link">Мои услуги</a></span>
                    <span id="bold">Обучение астрологии</span>
                    <span><a href="./index4.html" class="link">Марафоны</a></span>
                </div>
            </div>
                 <!-- mobile one -->
            <div class="whiteHeader mobile" id="menu">
                <div id="menu-bar" onclick="menuOnClick()">
                  <div id="bar1" class="bar"></div>
                  <div id="bar2" class="bar"></div>
                  <div id="bar3" class="bar"></div>
                </div>
                
                <nav class="nav" id="nav">
                  <ul>
                    <li><a href="./index.html">Обо мне</a></li>
                    <li><a href="./index2.html">Мои услуги</a></li>
                    <li><a href="./index3.html">Обучение астрологии</a></li>
                    <li><a href="./index4.html">Марафоны</a></li>
                  </ul>
                </nav> 
            </div>
              
            <div class="menu-bg" id="menu-bg"></div>
            <div class="prof3">
                <span>Персональный астролог</span>
            </div>
            <div class="wNames3">
                <div class="wName3">
                    <h1>Обучение</h1>
                </div>
                <div class="wName3">
                    <h1>астрологии</h1>
                </div>
            </div>    
            <div class="moreInfos">
                <div class="moreInfo1">
                    <div class="mInfos">
                        <div class="mInfo"> 
                            <p>Программа обучения делится на 2 смысловых блока, каждый из которых длится около 3-3,5 месяцев. В каждом блоке по 14 лекций с практикой, домашними заданиями и обратной связью. Лекции проходят 1 раз в неделю в онлайн формате их продолжительность составляет 2,5 часа. </p>
                        </div>
                        <div class="mInfo"> 
                            <p>Каждый ученик получает доступ к записи лекций, презентациям и  методичкам. После прохождения 2 блоков выдается сертификат.</p>
                        </div>
                    </div>    
                    <div class="blockInfos">
                        <div class="blockInfo">
                            <div class="blockH">
                                <h3>2</h3>
                            </div>
                            <div class="blockP">
                                <p>блока</p>
                            </div>
                        </div>
                        <div class="blockInfo">
                            <div class="blockH">
                                <h3>14</h3>
                            </div>
                            <div class="blockP">
                                <p>лекций в каждом</p>
                            </div>
                        </div>
                        <div class="blockInfo">
                            <div class="blockH">
                                <h3>3,5</h3>
                            </div>
                            <div class="blockP">
                                <p>месяца длится 1 блок</p>
                            </div>
                        </div>
                    </div>
                    <h2>Курс будет полезен вам, если вы хотите:</h2>
                    <div class="extraData">
                        <div class="moreData"> 
                            <div class="dataH">
                                <h3>1</h3>
                            </div>
                            <div class="dataP">
                                <p>Освоить новую профессию и уже в процессе обучения начать зарабатывать</p>
                            </div>
                        </div>
                        <div class="moreData"> 
                            <div class="dataH">
                                <h3>2</h3>
                            </div>
                            <div class="dataP">
                                <p>Получить любимое дело и в процессе обучения обрести единомышленников</p>
                            </div>
                        </div>   
                        <div class="moreData"> 
                            <div class="dataH">
                                <h3>3</h3>
                            </div>
                            <div class="dataP">
                                <p>Напрямую влиять на свой доход и работать вне графика, самостоятельно управляя своим временем</p>
                            </div>
                        </div> 
                        <div class="moreData"> 
                            <div class="dataH">
                                <h3>4</h3>
                            </div>
                            <div class="dataP">
                                <p>Использовать полученные знания для улучшения качества своей жизни и близких</p>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="moreInfo2">
                    <img src="./img/DWthird photo.png" alt="">
                </div>
            </div>             
        </div>
        <div class="contentBlockPink">
            <h1>Программа обучения</h1>
            <div class="programmCourse">
                <div class="pCourse">
                    <div class="courseText">
                        <p>Первый блок:</p>
                    </div>
                    <div class="courseSym">
                        <p>+</p>
                    </div>
                </div>

                <div class="pCourse">
                    <div class="courseText">
                        <p>Второй блок</p>
                    </div>
                    <div class="courseSym">
                        <p>+</p>
                    </div>
                </div>
            </div>
            <div class="pinkWhite">
                <h1>Тарифы:</h1>
                <div class="courseInfos">
                    <div class="courseInfo">
                        <span id="courseName">Стандарт</span>
                        <div class="courseList1">
                            <span>14 уроков в записи</span>
                            <span>Презентации к лекциям, методички</span>
                            <span>3,5 месяца доступа во время обучения и 1 месяц после</span>
                        </div>
                        <div class="courseList2">
                            <span>Домашние задания</span>
                            <span>Чат единомышленников</span>
                            <span>Обратная связь, ответы на вопросы в чате</span>
                            <span>Сертификат, подтверждающий квалификацию</span>
                        </div>
                        <span id="courseCost">Стоимость 1 блока: 19990 рублей *</span>
                        <div class="button">
                            <button>Заказать</button>
                        </div>
                    </div>

                    <div class="courseInfo">
                        <span id="courseName">Максимум</span>
                        <div class="courseList1">
                            <span>14 уроков в записи</span>
                            <span>Презентации к лекциям, методички</span>
                            <span>3,5 месяца доступа во время обучения и 1 месяц после</span>
                        </div>
                        <div class="courseList3">
                            <span>Домашние задания</span>
                            <span>Чат единомышленников</span>
                            <span>Обратная связь, ответы на вопросы в чате</span>
                            <span>Сертификат, подтверждающий квалификацию</span>
                        </div>
                        <span id="courseCost">Стоимость 1 блока: 24990*</span>
                        <div class="button">
                            <button>Заказать</button>
                        </div>
                    </div>
                </div>
                <div class="condition">
                    <span>*На курс есть доступная рассрочка.</span>
                    <span id="underlined"> Прочитайте условия для ее оформления</span>
                </div>
                
                <div class="aInfos">
                    <h2>После курса вы:</h2>
                        <div class="afterCourseData">
                            <div class="aData"> 
                                <div class="aDataH1">
                                    <h3>1</h3>
                                </div>
                                <div class="aDataP">
                                    <p>
                                        <span>Сможете консультировать</span> 
                                     по темам: личная жизнь, совместимость, финансы, поиск предназначения, здоровья и детского гороскопа.</p>
                                </div>
                            </div>
                            <div class="aData"> 
                                <div class="aDataH2">
                                    <h3>2</h3>
                                </div>
                                <div class="aDataP2">
                                    <p>Будете 
                                        <span>владеть навыками работы</span>
                                     в профессиональных астрологических программах</p>
                                </div>
                            </div>
                            <div class="aData"> 
                                <div class="aDataH3">
                                    <h3>3</h3>
                                </div>
                                <div class="aDataP3">
                                    <p> 
                                        <span>Отобьете стоимость обучения</span> 
                                    за первые несколько месяцев и повысите осознанность и качество своей жизни</p>
                                </div>
                            </div>
                        </div>
                    <div class="comments">
                        <span id="underlined">Посмотреть отзывы об обучении и результаты учеников</span>
                    </div>
                </div>
            </div>
            <div class="contentBlockB3">
                <div class="aImg">
                    <img src="./img/after course.png" alt="">
                </div>
                <div class="bBlock3">
                    <a href="./index2.html" class="link">
                        <button class="buttonPart1">
                            <div class="buttonText">
                                <p>Перечень моих услуг</p>
                            </div>
                            <div class="buttonSym">
                                <p>&#10230;</p>
                            </div>
                        </button>
                    </a>
                    <button class="buttonPart1">
                        <div class="buttonText">
                            <p>Марафоны для вас</p>
                        </div>
                        <div class="buttonSym">
                            <p>&#10230;</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>    
        <footer id="secFooter" class="f desktop">
            <div class="darkBlocks">
                <div class="darkBlock1">
                    <a href="./index.html"><p id="A">Анастасия Вячеславовна Шевченко</p></a>
                    <div class="app">
                        <p><a href="./index5.html"><img src="./img/insta.png" alt=""></a></p>
                        <p><a href="./index5.html"><img src="./img/tg.png" alt=""></a></p>
                        <p><a href="./index5.html"><img src="./img/whole phone.png" alt=""></a></p>
                    </div>
                </div>
                <div class="darkBlock2">
                    <div class="darkText1">
                        <a href="./index3.html"><p>На главную</p></a>
                    </div>
                    <div class="darkText2">
                        <a href="./index4.html"><p>Design by @kemfetka</p></a>
                    </div>
                </div>
                <div class="darkBlock3">
                    <div class="darkText1">
                        <a href="./index7.html"><p>Политика конфиденциальности</p></a>
                    </div>
                    <div class="darkText2">
                        <a href="./index5.html"><p>Связаться со мной</p></a>
                    </div>               
               </div>
            </div>
        </footer>
    </div>
    <script src="./JS/script.js"></script>
</body>
</html>